@import "../base/box";
@import "../base/colors";

.app_wrapper{display: grid;
  grid-template-columns: 130px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
                        "side_nav top_nav"
                        "side_nav page";

  height: 100vh;
  width: 100%;
}

#app_nav{
  grid-area: top_nav;
}

#app_page_body{
  grid-area: page;
  padding: 0 30px;
}

#side_nav{
  grid-area: side_nav;
  background-color: $main_color-orange;
}

.title_preview{
  margin-bottom: 0;
  padding: 10px;
}

.create_survey_preview{
  box-shadow: $shadow;
  border-radius: 4px;
  height: 100%;
  padding: 10px;
}
