@import "../../base/colors";
@import "../../base/universals";

#top_nav {
  box-shadow: $shadow;
}

.box_logo {
  height: 40px;
}

.home_login-button, .home_register_button {
  height: 35px;
  margin-left: 10px;
  border-radius: 2px;
  padding: 3px 30px 0;
}

.home_login-button:focus,
.home_register_button:focus,
.home_login-button:hover,
.home_register_button:hover {
  outline: none;
  text-decoration: none;
}

.home_login-button {
  @include outline-button;
  height: 33px;
}

.home_login-button:hover {
  @include outline-button-hover;
}

.home_register_button {
  background-color: $main_color-orange;
  color: white;
  border: 1px solid $main_color-orange;
}

.home_register_button:hover {
  background-color: $main_color_hover;
  color: white;
}
