@import "../../base/box";
@import "../../base/colors";

.survey_spotlight_survey-title{
  padding: $padding_dashboard_columns;
  width: 50%;
  color: $font_color-dark;
  overflow: auto;
  text-overflow: ellipsis;
}

.survey_spotlight_tab-item{
  padding: $padding_dashboard_columns;
}
.nav-tabs, .nav-link {
  color: $font-color-light;
}
.nav-tabs:hover, .nav-link:hover {
  color: $font-color-light;
}
.nav-tabs:focus, .nav-link:focus {
  outline: none;
}