@import "../../base/box";
@import "../../base/colors";

.survey_spotlight_survey-title{
  padding: $padding_dashboard_columns;
  width: 50%;
  color: $font_color-dark;
  overflow: auto;
  text-overflow: ellipsis;
}

.survey_spotlight_tab-item{
  padding: $padding_dashboard_columns;
}
div > nav > a, div > nav > a:hover {
  color: $font-color-light;
}
div > nav > a:focus {
  outline: none;
}

.edit_survey_button_tab{
  border: none;
  background-color: transparent;
  color: $font_color-light;
}
.edit_survey_button_tab:hover{
  color: $font_color-dark;
}
.edit_survey_button_tab:focus{
  outline: none;
}