@import "../../base/colors";

$survey-overview-columns: 90%;

.survey_overview_container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "private public";
  height: 100%;
  width: 100%;
}

.survey_overview_private{
  grid-area: private;
  height: $survey-overview-columns;
  padding: 3%;
}

.survey_overview_public{
  grid-area: public;
  height: $survey-overview-columns;
  padding: 3%;
}

.overview_section_title{
  color: $font_color-dark;
}

.survey_overview_item{
  cursor: pointer;
  color: $font_color-light;
}

.survey_overview_title{
  font-weight: bold;
  color: $font_color-dark;
}

.survey_overview_details_title{
  color: $font_color-dark;
  margin-left: 20px;
}
.survey_overview_details_title_first{
  color: $font_color-dark;
}