@import "../../base/universals";

.login_form{
  width: 40%;
  margin: 30px auto;
}

.login_btn{
  width: 100%;
  @include submit-button;
  font-size: 20px;
}
.login_btn:hover{
  @include submit-button-hover;
}
.login_btn:focus{
  @include submit-button-focus;
}