$main_color-orange: rgba(254,128,13, 0.8);
$main_color_hover: rgb(254,128,13);

$secondary_color-orange: #FAD8A6;
$secondary_color_hover: #ffcc8b;

$input_placeholder-color: rgb(201, 201, 201);

$font_color-light: #6C6767;
$font_color-dark: #5F5D5D;
$font_color-input: #e2e0e0;

$shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

$active: "darkgreen";
$pending: "orange";
$closed: "darkred";
