@import "./colors";

.pagination_list_ul{
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.pagination_list_li{
  display: inline;
  cursor: pointer;
  border: 0.5px solid $font_color-input;
  padding: 0 11px;
  color: $main_color-orange;
  font-weight: bold;
}
.pagination_list_li:hover{
  background-color: #FAD8A6;
}
